*.iml
.gradle
.project
.classpath
vcs.xml

/local.properties

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

.DS_Store
.externalNativeBuild

build/
generated/
bin/
captures/

/app/src/main/tmp
